html {
    display: table;
    margin: auto;

    --primary-color: #041D28;
    --primary-light: #D2DFE4;
    --accent-color: #0A4863;
    --accent-light: #638FA1;
}

html, body {
    background: var(--primary-light);
    height: 100%;
}

body {
    display: table-cell;
    vertical-align: middle;
}

body, p {
    color: var(--primary-color);
	font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

hr {
    height: 1px;
    border: 0px;
    background: var(--accent-color);
}

h1, h2, h3 {
    color: var(--accent-color);
}

h1 { font-size: 1.6rem; }

h2 { font-size: 1.2rem; }

a {
	color: var(--neutral-color);
    text-decoration: none;
    border-bottom: 1px solid var(--accent-light);
}

a:hover {
    background: var(--accent-light);
}

em {
    color: var(--primary-color);
}

::selection, ::-moz-selection {
  background: var(--accent-color);
}

div {
    max-width: 60rem;
}

.gradient {
	background: linear-gradient(to top left, var(--accent-color), var(--bg-color));
}